<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22875165868-35pm5ihvb1aur6l5jenqpkl087cq6idn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22875165868-35pm5ihvb1aur6l5jenqpkl087cq6idn</string>
	<key>API_KEY</key>
	<string>AIzaSyDapW2BXfZOcwlkrBCem9PM-OUX0d_nvlk</string>
	<key>GCM_SENDER_ID</key>
	<string>22875165868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohit.how-to-save-data-realtime-Database</string>
	<key>PROJECT_ID</key>
	<string>appp-3560a</string>
	<key>STORAGE_BUCKET</key>
	<string>appp-3560a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22875165868:ios:12e2c7ecca0a6265457b09</string>
</dict>
</plist>